doctype html
html(lang="en-US")
	head
		title= title
		meta(charset='utf-8')
		meta(name="theme-color", content="#4300a0")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Progressive web app for expenses control.')
		link(rel='manifest', href='/manifest.webmanifest')
		link(rel="shortcut icon", type="image/x-icon", href="/img/gasta-favicon.ico")
		link(type="text/css", rel="stylesheet", href="/css/materialize.min.css", media="screen,projection")
		link(type="text/css", rel="stylesheet", href="/css/style.css", media="screen,projection")
	body.primary-theme
		.navbar-fixed
			nav.nav-extended.secundary-theme
				.container
					.nav-wrapper
						a.brand-logo(href='/')= title
						a.sidenav-trigger(href='#', data-target='mobile-nav')
							i.material-icons menu
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a.install-button.tooltipped.disabled(href='javascript:void(0);', data-position='down', data-tooltip='Installer not available')
									i.material-icons get_app
							li
								a.update-button.tooltipped.disabled(href='javascript:void(0);', data-position='down', data-tooltip='No updates available')
									i.material-icons cached
							li
								a(href='/')
									i.material-icons home
				.nav-content
					ul#tabs.tabs.tabs-transparent.row
						li.tab.col.s6
							a(href='#today-tab') Today
						li.tab.col.s6
							a(href='#history-tab') History
		ul#mobile-nav.sidenav
			li
				.user-view
					.background.secundary-theme
					a(href='/')
						img.circle(src='/img/gasta-logo.png', alt='Gasta')
					span.white-text.name= title
			li
				a(href='/')
					i.material-icons.left book
					| Monthly report
			li
				a(href='/')
					i.material-icons.left book
					| Yearly report
			li
				a(href='/')
					i.material-icons.left book
					| All time report
			li
				.divider
			li
				a.install-button.tooltipped.disabled(href='javascript:void(0);', data-position='right', data-tooltip='Installer not available')
					i.material-icons get_app
					| Install app
			li
				a.update-button.tooltipped.disabled(href='javascript:void(0);', data-position='right', data-tooltip='No updates available')
					i.material-icons cached
					| Update app
			li.version
				a.update-button.disabled(href='javascript:void(0);')
					| Version v#{version}
		.container.content
			.row
				.s12
					#today-tab.col.s12
						block today
					#history-tab.col.s12
						block history
		.fixed-action-btn.tooltipped(data-position='left', data-tooltip='Send')
			a#floating-button.btn-floating.btn-large.secundary-theme(href='/')
				i.large.material-icons send
		script(src="/js/materialize.min.js")
		script(src="/js/app-ui.js")
		script(src="/js/app-installer.js")
		script(src="/js/app-updater.js")