form(action="/", method="POST")
	h1 Username
	input(type="text", name="username", value="admin")
	br
	h1 Password
	input(type="password", name="password", value="password")
	br
	input(type="submit", value="Go")