p This is a generated page
h1 Date:
h2#date
script.
	var date = new Date()
	function getMonday(d) {
		d = new Date(d);
		var day = d.getDay(),
			diff = d.getDate() - day + (day == 0 ? -6 : 0); // adjust when day is sunday
		return new Date(d.setDate(diff));
	}
	document.getElementById("date").innerHTML = getMonday(date)
	       startDate: `${todayDate.toISOString().split("T")[0]}T00:00:00.000Z`,
            endDate: `${todayDate.toISOString().split("T")[0]}T23:59:59.999Z`
