body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

@font-face{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-icons.woff2) format('woff2');
}

.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    color: white
}

.content{
    margin-top: 10vh;
}

.disabled{
    color: rgba(0,0,0,0.54) !important;
}

.primary-theme{
    background-color: #0f1325 !important;
    color: white;
}

.secundary-theme{
    background-color: #4300a0 !important;
    color: white;
}

.btn, .btn-large, .btn-small {
    background-color: #4300a0;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #6724a4;
}

.version{
    color: rgba(0,0,0,0.54) !important;
    bottom: 9vh;
    position: fixed;
    width: 100%;
}